@font-face {
    font-family: 'SDKukdetopokki';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDKukdetopokki.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SDKukdetopokki-Lt';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OedoKtr';
    src: url('./font/FOT-OedoKtr.otf') format('opentype');
}

*{
    font-family : 'SDKukdetopokki-LT';
}

::-webkit-scrollbar { width: 15px; }
::-webkit-scrollbar-thumb { background-color: rgb(64, 64, 64); }
::-webkit-scrollbar-track { background-color: rgb(132, 132, 132); } 

#level_mamu {
    margin: 0px;
    border: 0px;
  
    position: sticky;

    background-color: rgb(48, 48, 48);

    width: 100vw;
    height: 120px;
    
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
    
    flex-direction: row;

    overflow-x: auto;
    overflow-y: hidden;
} /* 레벨 메뉴 선택 */

#level_mamu::-webkit-scrollbar { width: 15px; }
#level_mamu::-webkit-scrollbar-thumb { background-color: rgb(64, 64, 64); }
#level_mamu::-webkit-scrollbar-track { background-color: rgb(132, 132, 132); } 
/* 레벨 메뉴 스크롤 */

@media screen and (max-width : 720px) {
    #level_mamu {
        justify-content: flex-start;
    }
}  /* 모바일 대응 (레벨 메뉴) */

#level_mamu button{
    width: 120px;
    height: 120px;
} /* 레벨 버튼 */

.level_button {
    border: none;
    outline: none;

    transition-duration: 0.3s;
    cursor: pointer;
    opacity: 0.35;
}

.level_button:hover{opacity: 0.75;}

.hard_8 {background-color: rgba(65, 75, 43, 0.35);}
.hard_8:hover {background-color: rgba(65, 75, 43, 1);}
.oni_6 {background-color: rgba(253, 37, 135, 0.35);}
.oni_6:hover {background-color: rgba(253, 37, 135, 1);}
.oni_7 {background-color: rgba(218, 38, 160.25, 0.35);}
.oni_7:hover {background-color: rgba(218, 38, 160.25, 1);}
.oni_8 {background-color: rgba(183, 40, 185.5, 0.35);}
.oni_8:hover {background-color: rgba(183, 40, 185.5, 1);}
.oni_9 {background-color: rgba(147, 42, 210.75, 0.35);}
.oni_9:hover {background-color: rgba(147, 42, 210.75, 1);}
.oni_10 {background-color: rgba(112, 44, 236, 0.35);}
.oni_10:hover {background-color: rgba(112, 44, 236, 1);}

#hard_8 {background-color: rgba(65, 75, 43, 1);}
#oni_6 {background-color: rgba(253, 37, 135, 1);}
#oni_7 {background-color: rgba(218, 38, 160.25, 1);}
#oni_8 {background-color: rgba(183, 40, 185.5, 1);}
#oni_9 {background-color: rgba(147, 42, 210.75, 1);}
#oni_10 {background-color: rgba(112, 44, 236, 1);}

.level_info {
    width: 100vw;
    height: 600px;
    padding : 0px;

    position: relative;
    text-align: center;

    font-size: calc(12px + 1vmin);
    font-family : 'SDKukdetopokki-LT'
} /* 레벨 정보 */

.level_info_content {
    position: absolute;
    top : 30px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
} /* 레벨 정보 */

.level_info_img {padding-bottom: 25px;}
.level_info_icon {width: 100%; padding-bottom: 30px;}

.level_info_table_div{
    width: 60vmax;
    height: auto;

    border-radius: 10px;
    background-color: rgb(64, 64, 64);
}

@media screen and (max-width : 720px) {
    .level_info_table_div {
        width: 90vw;
    }
} /* 레벨 정보표 모바일 */

.level_info_table{
    border-collapse: collapse;
    text-align: center;

    width: 100%;
    height: 100%;
    color: white;
    font-size: calc(13px + 0.5vmin);
}

.level_info_table_0 {width: 20%;}
.level_info_table th {height: 50px;}
.level_info_table tr {height: 40px;}

#ranking {
    width: 100vw;
    height: auto;
    padding : 0px;
} /* 서열표 항목 */

.rank_header {
    width: 100%;

    height: 40vw;
    min-height: 250px;
    max-height: 450px;

    padding : 0px;
    position: relative;

    background-color: rgb(64, 64, 64);
} /* 서열표 헤더 */

.header_background {
    width: 100%;
    height: auto;
    opacity: 0.5;

    filter: blur(5px);
    -webkit-filter: blur(5px);

    mask-image: linear-gradient(black, transparent);
    -webkit-mask-image: linear-gradient(black, transparent);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} /* 서열표 헤더 배경화면 */

.header_1 {
    position: absolute;
    bottom: 10px;
    left: 2.5vw;

    width: 25vw;
    max-width: 409px;
} /* 헤더 초견주의 */
.header_2 {
    position: absolute;
    bottom: 10px;
    right: 2.5vw;

    width: 25vw;
    max-width: 418px;
} /* 헤더 장르 */
.header_3 {
    position: absolute;
    bottom: 10px;
    left: 40vw;

    width: 25vw;
    max-width: 418px;
} /* 헤더 설명 */
.header_4 {
    position: absolute;
    top: 30px;
    left: calc(50vw - 95px);

} /* 헤더 난이도 아이콘 */

@media screen and (max-width : 720px) {
    .header_1 {
       display: none;
    } /* 헤더 초견주의 */
    .header_2 {
        display: none;
    } /* 헤더 장르 */
    .header_3 {
        display: none;
    }
} /* 헤더 난이도 모바일 */

.level_songs {
    font-size: calc(20px + 1vmin);
    text-shadow: -2px 0 rgb(255, 255, 255), 0 2px rgb(255, 255, 255), 2px 0 rgb(255, 255, 255), 0 -2px rgb(255, 255, 255);
    height : 60px;
    color: rgb(136, 0, 21);
    margin: 0px;
}

.level_songs_2 {
    font-size: calc(12px + 1vmin);
    height : 60px;
    color: rgb(255, 255, 255);
    margin: 0px;
    font-family : 'SDKukdetopokki-LT';
}

.interlock_btn {
    position: absolute;
    bottom: 20px;
    right: 170px;

    height: 60px;
    width: 130px;

    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(10, 10, 10);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;

    font-family : 'SDKukdetopokki';
    transition-duration: 0.2s;
    cursor: pointer;
}

.save_btn {
    position: absolute;
    bottom: 20px;
    right: 20px;

    height: 60px;
    width: 130px;

    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(10, 10, 10);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;

    font-family : 'SDKukdetopokki';
    transition-duration: 0.2s;
    cursor: pointer;
}
  
.save_btn:hover {background-color: rgb(128, 128, 128); color: black;}

#song_ranked {
    padding : 0px 2.5vw 30px 2.5vw;
    background-color: rgb(64, 64, 64);
} /* 서열표 */

div.pop {
    width: 100%;
    height: 50%;
    background-color: rgb(66, 192, 210);
}

div.ani {
    width: 100%;
    height: 50%;
    background-color: rgb(255,144,211);
}

div.vocal {
    width: 100%;
    height: 50%;
    background-color: rgb(166, 167, 180);
}

div.games {
    width: 100%;
    height: 50%;
    background-color: rgb(204,138,234);
}

div.var {
    width: 100%;
    height: 50%;
    background-color: rgb(28,199,58);
}

div.classical {
    width: 100%;
    height: 50%;
    background-color: rgb(201,192,0);
}

div.namco {
    width: 100%;
    height: 50%;
    background-color: rgb(255,112,39);
}

div.kids {
    width: 100%;
    height: 50%;
    background-color: rgb(255,192,0);
}

.ranking {
    position: relative;
    border-collapse: collapse;
    width : 100%;
}

.ranking table{
    border-collapse: collapse;
    width : 100%;
}

.ranking th {
    width: 10%;
    font-size: calc(15px + 1.5vmax);

    padding: 0px;
    margin: 0px;
    border-left: 3px solid rgb(180, 180, 180);
    border-top: 2px solid rgb(180, 180, 180);
    border-bottom: 2px solid rgb(180, 180, 180);
    background-color: rgba(255, 255, 255, 0.80);
} /* 서열표 */

.ranking td {
    border-collapse: collapse;
    background-color: rgba(238, 238, 238, 0.80);
    border: 2px solid rgb(180, 180, 180);

    padding: 0px;
    width: 15%;
    height: 60px;
}

.content_song {
    width: 100%;
    height: 100%;
}

.rank_0 {color: rgb(0, 0, 0); font-family : 'SDKukdetopokki';}
.rank_1 {color: rgb(136, 0, 21); font-family : 'SDKukdetopokki';}
.rank_2 {color: rgb(237, 28, 36); font-family : 'SDKukdetopokki';}
.rank_3 {color: rgb(255, 127, 39); font-family : 'SDKukdetopokki';}
.rank_4 {color: rgb(255, 201, 14); font-family : 'SDKukdetopokki';}
.rank_5 {color: rgb(34, 177, 76); font-family : 'SDKukdetopokki';}
.rank_6 {color: rgb(0, 162, 232); font-family : 'SDKukdetopokki';}
.rank_7 {color: rgb(163, 73, 164); font-family : 'SDKukdetopokki';}
.rank_8 {color: rgb(72, 72, 72); font-family : 'SDKukdetopokki';}
.rank_9 {color: rgb(127, 127, 127); font-family : 'SDKukdetopokki';}

.genre {
    
    background-color: rgb(255, 112, 39);
    float: left;
    width: 5%;
    height: 100%;

}

.Song {
    position: relative;
    float: left;
    height : 100%;
    width : 95%;
}

p.Title {
    position: absolute;
    top: 6px;
    left: 2px;
    margin: 0px;

    list-style: none;
    vertical-align: middle;
    font-size: calc(10px + 0.5vmin);
    line-height: 1.1em;

    height : 30px;
    width : 87%;
    color: rgb(253, 37, 135);
    font-family: 'OedoKtr';
    word-break: break-all;
}

p.Title_Ura {
    position: absolute;
    top: 6px;
    left: 2px;
    margin: 0px;

    list-style: none;
    vertical-align: middle;
    font-size: calc(10px + 0.5vmin);
    line-height: 1.1em;

    height : 30px;
    width : 87%;
    color: rgb(112, 44, 236);
    font-family: 'OedoKtr';
    word-break: break-all;
}

p.Title_Hard {
    position: absolute;
    top: 6px;
    left: 2px;
    margin: 0px;

    list-style: none;
    vertical-align: middle;
    font-size: calc(10px + 0.5vmin);
    line-height: 1.1em;

    height : 30px;
    width : 87%;
    color: rgb(65, 75, 43);
    font-family: 'OedoKtr';
    word-break: break-all;
}

p.Subtitle {
    position: absolute;
    bottom: 5px;
    left: 1px;
    margin: 0px;

    list-style: none;
    vertical-align: middle;
    font-size: calc(9px + 0.25vmin);
    height : 12px;
    width : 95%;
    color: rgb(127, 127, 127);
    font-family : 'SDKukdetopokki';
    word-break: break-all;
}

@media screen and (max-width : 720px) {
    .ranking th { width: 15%; }
    .ranking td { width: 25%; }
    p.Title { font-size: 8px; }
    p.Title_Ura  { font-size: 8px; }
    p.Title_Hard { font-size: 8px; }
    p.Subtitle{bottom: 4px; font-size: 7px; height : auto;}
} /* 서열표 폰트 모바일 */

.Bottom_Right {
    position: absolute;
    width: auto;
    height: 15px;

    bottom: 1px;
    right: 1px;
    margin: 0px;
}

.Top_Right {
    position: absolute;
    width: auto;
    height: auto;

    top: 1px;
    right: 1px;
    opacity: 0.85;
}

.Dani {

    min-height: 10px;
    max-height: 30px;
    min-width: 10px;
    max-width: 30px;

    width: 4vmin;
    height: 4vmin;
}

.individual {
    background-color: rgb(237, 28, 36);

    min-height: 5px;
    max-height: 15px;
    min-width: 5px;
    max-width: 15px;

    height: 2vmin;
    width: 2vmin;

    border-radius: 100%;
    border-left: 2px;
}

.first_play {
    background-color: rgb(34, 177, 76);

    min-height: 5px;
    max-height: 15px;
    min-width: 5px;
    max-width: 15px;

    height: 2vmin;
    width: 2vmin;

    border-radius: 100%;
    border-left: 2px;
}

.full_combo {
    background-color: rgb(163, 73, 164);

    min-height: 5px;
    max-height: 15px;
    min-width: 5px;
    max-width: 15px;

    height: 2vmin;
    width: 2vmin;

    border-radius: 100%;
    border-left: 2px;
}

#Go_top {
    padding : 0px 75px 100px 75px;
    background-color: rgb(64, 64, 64);

    text-align: center;
    align-items: center;
}

#Top_btn {
    width: 100px;

    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(10, 10, 10);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;

    font-family: 'OedoKtr';
    transition-duration: 0.2s;
    cursor: pointer;
}
  
#Top_btn:hover {background-color: rgb(128, 128, 128); color: black;}